.button,
.save-button,
.cancel-button,
.vote-button,
.share-fb-button,
.share-vk-button {
  cursor: pointer;
  font-size: 0.9em;
  padding: 10px;
  border: 0;
  margin: 5px;
}
.button:hover,
.save-button:hover,
.cancel-button:hover,
.vote-button:hover,
.share-fb-button:hover,
.share-vk-button:hover {
  outline: 1px solid #000;
}
.save-button {
  background-color: #00a2af;
  color: #fff;
}
.cancel-button {
  background-color: transparent;
  color: #000;
}
.vote-button {
  background-color: #00a2af;
  color: #fff;
}
.share-fb-button {
  background-color: transparent;
  color: #000;
}
.share-vk-button {
  background-color: transparent;
  color: #000;
}
.disabled-button {
  background-color: #c0c0c0 !important;
}

.deck {
  background-color: rgba(255,255,255,0.8);
  padding: 20px;
  height: 100%;
}
.deck .places {
  overflow-y: scroll;
  height: 70%;
  padding-bottom: 50px;
}
.switcher {
  font-size: 24px;
  border-bottom: 2px dotted #757472;
  border-top: 2px dotted #757472;
  text-align: center;
  padding: 10px 0;
}
.switcher a {
  text-decoration: none;
}
.switcher .active {
  color: #aba27e;
}
.auth-buttons div:hover {
  cursor: pointer;
  outline: 1px solid #000;
}

body {
  font-family: 'PT Sans', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  height: 100%;
}
#map {
  position: fixed !important;
  height: 100%;
  width: 100%;
  z-index: 10;
}
.mapContainer {
  height: 100%;
  width: 100%;
}
#deck {
  height: 100%;
  width: 305px;
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  z-index: 20;
}

#modal-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  background: rgba(0,0,0,0.1);
  z-index: 99999;
}
#modal {
  width: 600px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  background-color: rgba(255,255,255,0.9);
}
.addPlaceModal h1 {
  text-transform: uppercase;
  font-size: 1.2em;
}
.addPlaceModal input {
  border: 0;
  border-bottom: 1px dotted #808080;
  background-color: transparent;
  display: block;
  width: 100%;
  font-size: 1em;
  padding: 5px 0;
  margin: 10px 0;
}
.addPlaceModal textarea {
  display: block;
  background-color: transparent;
  border: 0;
  font-size: 1em;
  width: 100%;
  margin: 10px 0;
  height: 7em;
}

.oneComment {
  border-bottom: 2px dotted #757472;
}
.oneComment .text {
  clear: both;
  color: #757472;
}
.oneComment .name {
  float: left;
  color: #71868e;
  font-size: 14px;
  margin-right: 8px;
}
.oneComment .time {
  float: left;
  color: #71868e;
  font-size: 14px;
}

.onePlaceModal {
  cursor: pointer;
  clear: both;
  padding: 10px 0;
}
.onePlaceModal .improvement {
  text-transform: uppercase;
  font-size: 1.2em;
  float: left;
  margin-right: 15px;
}
.onePlaceModal .votes {
  background: #403331;
  color: #fff;
  width: 25px;
  height: 22px;
  text-align: center;
  font-size: 1.2em;
  float: left;
}
.onePlaceModal .description {
  clear: both;
  color: #757472;
}
.onePlaceModal .name {
  float: left;
  color: #71868e;
  font-size: 14px;
  margin-right: 8px;
  color: #00a0aa;
  text-decoration: none;
}
.onePlaceModal .time {
  float: left;
  color: #71868e;
  font-size: 14px;
  color: #00a0aa;
}
.onePlaceModal .add-comment-form {
  display: none;
}
.onePlaceModal .add-comment-form textarea {
  display: block;
  background-color: transparent;
  border: 0;
  font-size: 1em;
  width: 100%;
  margin: 10px 0;
  height: 7em;
}
.onePlaceModal .comment-button {
  float: right;
  cursor: pointer;
  color: #00a0aa;
}
.onePlaceModal .comments {
  border-top: 2px dotted #757472;
  border-bottom: 2px dotted #757472;
  height: 150px;
  margin: 10px 0;
}

.onePlace {
  cursor: pointer;
  clear: both;
  border-bottom: 2px dotted #757472;
  padding: 10px 0;
}
.onePlace .improvement {
  text-transform: uppercase;
  margin-right: 15px;
  float: left;
}
.onePlace .votes {
  background: #403331;
  color: #fff;
  width: 20px;
  height: 20px;
  text-align: center;
  float: left;
}
.onePlace .description {
  clear: both;
  color: #757472;
}
.onePlace .name {
  float: left;
  color: #71868e;
  font-size: 14px;
  margin-right: 8px;
}
.onePlace .time {
  float: left;
  color: #71868e;
  font-size: 14px;
}
.onePlace:hover {
  border-bottom: 2px solid #757472;
}
