<script type="template" id="add-place-modal-template">
	<h1>Новая идея</h1>
	<input type="text" data-value="name" placeholder="Название идеи">
	<textarea placeholder="Описание идеи" data-value="description"></textarea>
	<button class="save-button">Сохранить</button>
	<button class="cancel-button">Отменить</button>
</script>
<script type="template" id="deck-template">
	<div class="deck">
		<div class="head">
			<div class="logo"></div>
			<div class="links">
				<a>О проекте</a>
				<a>Рассылка</a>
				<a>Контакты</a>
				<a data-role="logout">Выйти</a>
			</div>
			<div class="auth-buttons">
				<div id="facebook-auth">FB</div>
			</div>
			<div class="user-data">
				Вы залогинены как <%= name%>
			</div>
		</div>
		<div class="switcher">
			<a href="/">Новые</a>
			/
			<a href="/popular" class="active">Популярные</a>
		</div>
		<div class="places">
			
		</div>
	</div>
</script>
<script type="template" id="map-template">

</script>
<script type="template" id="one-comment-template">
	<%= text %>
	<br style="clear:both">
</script>
<script type="template" id="one-place-modal-template">
	<div class="improvement"><%= improvement%></div>
	<div class="votes"><%= votes%></div>
	<div class="description"><%= description%></div>
	<% if (getUser() && getUser().profileUrl) { %>
	<a href="<%= getUser().profileUrl%>" target="_blank" class="name"><%= name%></a>
	<% } else { %>
	<div class="name"><%= name%></div>
	<% } %>
	<div class="time"><%= time()%></div>
	<% if (isAuthorized()) { %>
		<button class="comment-button">Комментировать</button>
	<% } %>
	<br style="clear:both">
	<div class="add-comment-form">
		<textarea data-value="text" placeholder="Текст комментария"></textarea>
		<button class="save-button">Оставить комментарий</button>
	</div>
	<div class="comments"></div>
	<button>Хорошая идея</button>
	<button class="share-fb-buton">Расшарить в FB</button>
	<button class="spam-button">Спам</button>
</script>
<script type="template" id="one-place-template">
	<div class="improvement"><%= improvement%></div>
	<div class="votes"><%= votes%></div>
	<div class="description"><%= description%></div>
	<div class="name"><%= name%></div>
	<div class="time"><%= time()%></div>
	<br style="clear:both">
</script>