<div id="deck-template">
	<div class="deck">
		<div class="head">
			<div class="logo"></div>
			<div class="links">
				<a>О проекте</a>
				<a>Рассылка</a>
				<a>Контакты</a>
			</div>
		</div>
		<div class="switcher">
			<a href="/">Новые</a>
			/
			<a href="/popular" class="active">Популярные</a>
		</div>
		<div class="places">
			
		</div>
	</div>
</div>
<script type="template" id="map-template">

</script>
<script type="template" id="one-place-template">
	<div class="improvement"><%= improvement%></div>
	<div class="votes"><%= votes%></div>
	<div class="description"><%= description%></div>
	<div class="name"><%= name%></div>
	<div class="time"><%= time()%></div>
	<br style="clear:both">
</script>