<script type="template" id="deck-template">
	<div class="deck">
		<div class="head">
			<div class="logo"></div>
			<div class="links">
				<a>О проекте</a>
				<a>Рассылка</a>
				<a>Контакты</a>
				<a data-role="logout">Выйти</a>
			</div>
			<div class="auth-buttons">
				<!--div id="facebook-auth">FB</div-->
				<div id="vk-auth">VK</div>
			</div>
			<div class="user-data">
				Вы залогинены как <%= name%>
			</div>
		</div>
		<div class="switcher">
			<a href="#sort-new" id="sort-new">Новые</a>/<a href="#sort-popular" id="sort-popular" class="active">Популярные</a>
		</div>
		<div class="places">
			
		</div>
	</div>
</script>