<script type="template" id="one-place-modal-template">
	<div class="improvement"><%= improvement%></div>
	<div class="votes"><%= votes%></div>
	<div class="description"><%= description%></div>
	<% if (getUser() && getUser().profileUrl) { %>
	<a href="<%= getUser().profileUrl%>" target="_blank" class="name"><%= name%></a>
	<% } else { %>
	<div class="name"><%= name%></div>
	<% } %>
	<div class="time"><%= time()%></div>
	<% if (isAuthorized()) { %>
		<button class="comment-button">Комментировать</button>
	<% } %>
	<br style="clear:both">
	<div class="add-comment-form">
		<textarea data-value="text" placeholder="Текст комментария"></textarea>
		<button class="save-button">Оставить комментарий</button>
	</div>
	<div class="comments"></div>
	<button class="vote-button <% if (!canVote) { %>disabled-button<% } %>" <% if (!canVote) { %>disabled="true"<% } %>>Хорошая идея</button>
	<button class="share-vk-button">Поделиться Вконтакте</button>
	<!--button class="spam-button">Спам</button-->
</script>
