.onePlaceModal
	.improvement
		text-transform uppercase
		font-size 1.2em
		float left
		margin-right 15px
	.votes
		background #403331
		color white
		width 25px
		height 22px
		text-align center
		font-size 1.2em
		float left
	.description
		clear both
		color #757472
	.name
		float left
		color #71868e
		font-size 14px
		margin-right 8px
		color rgb(0, 160, 170)
		text-decoration none
	.time
		float left
		color #71868e
		font-size 14px
		color rgb(0, 160, 170)
	.add-comment-form
		textarea
			display block
			background-color transparent
			border 0
			font-size 1em
			width 100%
			margin 10px 0
			height 7em
		display none
	.comment-button
		float right
		cursor pointer
		color rgb(0, 160, 170)
	.comments
		border-top 2px dotted #757472
		border-bottom 2px dotted #757472
		height 150px
		margin 10px 0
	cursor pointer
	clear both
	padding 10px 0