<div id="map"></div>
<div ng-controller="SidebarController"  class="sidebar">
<div class="simple-view" ng-hide="isLogoHidden" ng-click="showDetails()">{{name}}</div>
<div class="detailed-view-bookmark" ng-show="isDetailedViewHidden" ng-mouseover="showDetails()"></div>
<div ng-hide="isDetailedViewHidden">
	<div class="detailed-view list-group" ng-mouseleave="hideDetails()">
		<place ng-repeat="place in places"></place>
	</div>
</div>
</div>
<div id="place-tooltip">
</div>

<script type="text/template" id="creation-form">
<form class="form-horizontal" ng-controller="SavePlaceController">
<fieldset>

<!-- Form Name -->
<legend>Новое улучшение</legend>

<!-- Text input-->
<div class="form-group">
  <div class="col-md-12">
  <input id="name" name="name" ng-model="place.name" type="text" placeholder="ваше имя" class="form-control input-md">
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <div class="col-md-12">
  <input id="place" name="place" ng-model="place.description" type="text" placeholder="заголовок улучшения" class="form-control input-md">
  </div>
</div>

<!-- Textarea -->
<div class="form-group">
  <div class="col-md-12">
    <textarea class="form-control" ng-model="place.improvement" placeholder="опишите проблему" id="improvement" name="improvement"></textarea>
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <div class="col-md-4">
    <button class="btn btn-primary" ng-click="save()">Сохранить</button>
  </div>
</div>

</fieldset>
</script>
<script type="text/temaplate" id="place-doc">
<div class="place-dialog">
<h4>{{place.description}} ({{place.votes}})</h4>
{{place.improvement}}<br>
{{place.name}} {{place.date}}
<button class="btn btn-primary" ng-show="canVote" ng-click="vote(place)">
Отличная идея
<i class="glyphicon glyphicon-thumbs-up"></i>
</button>
</div>
</script>
</div>