<div id="map"></div>
<div class="modal" id="add-place-form" ng-controller="SavePlaceController">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal">
                <fieldset>
                    <legend>Новое улучшение</legend>
                    <div class="form-group">
                        <div class="col-md-12">
                        <input id="name" name="name" ng-model="place.name" type="text" placeholder="ваше имя" class="form-control input-md">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                        <input id="place" name="place" ng-model="place.description" type="text" placeholder="заголовок улучшения" class="form-control input-md">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <textarea class="form-control" ng-model="place.improvement" placeholder="опишите проблему" id="improvement" name="improvement"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-8">
                            <button type="button" class="btn btn-default" ng-click="close()">Закрыть</button>
                            <button ng-show="isAuthorized" class="btn btn-primary" ng-click="save()">Сохранить</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
<div class="place-modal" ng-show="$root.showPlace" id="show-one-place" ng-controller="OnePlaceController">
    <div class="place-dialog">
        <h4>{{currentPlace.description}} ({{currentPlace.votes}})</h4>
        {{currentPlace.improvement}}<br>
        {{currentPlace.name}} {{currentPlace.date}}
        <br>
        <button class="btn btn-primary" ng-show="canVote" ng-click="vote(currentPlace)">
        Отличная идея
        </button>
        <button type="button" class="btn btn-default" ng-click="close()">Закрыть</button>
    </div>
</div>
<div ng-controller="SidebarController" class="sidebar">
    <div class="detailed-view-bookmark"></div>
    <div class="detailed-view">
        <div class="service-info">
            <div class="logo"></div>
           <div>{{$root.showPlace}}
                <a href="/auth/vkontakte">BK</a>
            </div>
            <div class="navigation">
                <ul>
                    <li><a href="#/about-project/">О проекте</a></li>
                    <li><a href="#/mailing/">Рассылка</a></li>
                    <li><a href="#/contacts/">Контакты</a></li>
                </ul>
            </div>
        </div>
        <div class='list-toggler'>
            <a href="#" ng-click="showNew()">Новые</a>
            <a href="#" ng-click="showPopular()">Популярные</a>
        </div>
        <div class="list-group" ng-show='loaded'>
            <place ng-repeat="place in places"></place>
        </div>
    </div>
</div>
<div id="place-tooltip">
</div>
</div>