.sidebar
	.simple-view
		position absolute
		padding 0.3em
		padding-right 1em
		right 0
		top 1em
		font-size 3em
		background white
		border-radius 8px 0 0 8px
		z-index 22
	.detailed-view-bookmark
		position absolute
		right 0
		top 0
		height 100%
		background white
		opacity 0.5
		width 5rem
		z-index 21
	.detailed-view
		border-left 1px solid silver
		position absolute
		right 0
		top 0
		height 100%
		background white
		width 30rem
		z-index 23
	position fixed
	right 0
	top 0
	width 30rem
	height 100%
	z-index 20