.oneComment
	.text
		clear both
		color #757472
	.name
		float left
		color #71868e
		font-size 14px
		margin-right 8px
	.time
		float left
		color #71868e
		font-size 14px
	border-bottom 2px dotted #757472