.one-place-directive
	h4
		font-size 1.6em
	.meta-data
		span
			margin-right 3em
		font-size 1em
		color gray
	border-bottom 2px solid silver
	cursor pointer
	padding 10px

.one-place-directive.active
	background-color silver !important
	border silver